/* !!! reset.css!!! */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption,footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{ margin:0; padding:0;}
body{
    width: 100%; 
    color: #333333;
    overflow-x: hidden; 
    word-break: break-all;
    -ms-word-break: break-all;
}
img, fieldset, iframe {border:none; outline:none;}
form, fieldset, iframe{display:block;border:0}
img{ vertical-align:middle; border:none; max-width:100%;}
a , a:hover , a[href*="callto"]:hover, a[href*="mailto"]:hover{text-decoration:none;color:#333333;}
ol,ul,li {list-style:none;}
i, em, address {font-style: normal;}
table{table-layout: fixed; width:100%;}
table, tbody, thead, tr, td, th {border-collapse: collapse; border-spacing: 0; }
input, select, button {
    border: none;
    outline: none;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;    
}
input{
    display: inline-block; width: 100%;
    padding-left: 13px;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
input[type=text]::-ms-clear {display: none;}
select::-ms-expand{display:none;}
input:focus, select:focus, button:focus, textarea:focus {outline: none; }
input[type="checkbox"], input[type="radio"] {width: auto; height: auto; }
input[type="button"], input[type="file"], input[type="checkbox"], input[type="radio"]{cursor: pointer;}
button{cursor: pointer; padding: 0; margin: 0; font-family: 'Nanum Gothic', sans-serif;}
label, select{cursor: pointer;}
/* placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:#cccccc; font-family: NanumSquare;}
::-moz-placeholder { /* Firefox 19+ */ color:#cccccc; font-family: NanumSquare;}
:-ms-input-placeholder { /* IE 10+ */ color:#cccccc; font-family: NanumSquare;}
:-moz-placeholder { /* Firefox 18- */ color:#cccccc; font-family: NanumSquare;}
:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */ opacity:1;}
:focus::-moz-placeholder { /* Firefox 19+ */ opacity:1;}
:focus:-ms-input-placeholder { /* IE 10+ */ opacity:1;}
:focus:-moz-placeholder { /* Firefox 18- */ opacity:1;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* general custom */
.hidden {position: absolute; top: 0; left: -9999em; font-size:0;}


/* !!! my css!!! */
body{
    overflow-y: hidden;
    color: #333333; font-family: 'Nanum Gothic', sans-serif;
}
h2{
    font-size: 18px;
    letter-spacing: -1px;
}
input{
    display: inline-block; width: 100%;
    padding-left: 13px;
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a{font-size: 14px;}
button{font-size: 14px;}
.wrap > div{			
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.l-side{
    position: fixed;
    width: 15%; height: 100vh;
    padding: 20px 10px;
    border-right: 1px solid #d24400;
}
.recipes_search_container{
    position: relative;
    margin: 40px 0 80px 0;
}
.recipes_search_container input{
    height: 35px;
    border-radius: 3px;
    border: 1px solid #bbbbbb;
}
.recipes_search_container button{
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
}
#show_all_recipe li{
    margin-bottom: 16px; margin-left: 4px;
}
#show_all_recipe li:before{
    content: '';
    display: inline-block;
    vertical-align: 3px;
    width: 4px; height: 4px; 
    margin-right: 2px;
    border-radius: 50%;
    background: #d24400;
}
#show_all_recipe li a{
    position: relative;
    letter-spacing: -1px;;
}
#show_all_recipe li a:after{
    content: '';
    display: inline-block;
    position: absolute; top: 50%; left: 0;
    transform: translateY(-50%);
    width: 0; height: 2px;
    background: #d24400;
    opacity: 0.5;
    transition: ease-in-out width 0.2s;
}
#show_all_recipe li a:hover:after{
    content: '';
    display: inline-block;
    position: absolute; top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%; height: 2px;
    background: #d24400;
}


.c-side{
    float: left;
    width: 70%; 
    margin-left: 15%; padding: 20px 10px 0;
}
.tabs li{
    float: left; 
    width: 50%; line-height: 40px;
    border: 1px solid #bbbbbb;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}
.tabs li.active{
    background: #d24400;
}
.tabs li a{
    font-size: 17px; font-weight: bold;   
}
.tabs li.active a{
    color: #ffffff;
}
.paik_recipe_container > div, .soomi_recipe_container > div{
    float: left;
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.tab-content .paik_recipe_container > div h3, .tab-content .soomi_recipe_container > div h3{
    margin-top: 20px; margin-bottom: 10px;
}
.tab-content .paik_recipe_container .paik_follow_recipe_area{
    border-left: 1px solid #dddddd;
}
.tab-content .soomi_recipe_container .soomi_follow_recipe_area{
    border-left: 1px solid #dddddd;
}
.tab-content .card{
    float: left;
    width: calc(50% - 8px);
    margin-right: 10px; margin-top: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
}
.tab-content .card:nth-child(2n){
    margin-right: 0;
}
.paik_recipe_container .card-columns, .soomi_recipe_container .card-columns{
    height: 792px;
    overflow-y: auto;
    /* -ms-overflow-style: none; */
    /* IE and Edge */
    /* scrollbar-width: none; */
    /* Firefox */
}
.paik_recipe_container .card-columns::-webkit-scrollbar, .soomi_recipe_container .card-columns::-webkit-scrollbar {
    /* display: none;  */
    /* Chrome, Safari, Opera*/
}
.card .card-img-top{
    border-radius: 6px 6px 0 0;
}
.card .card-body{
    margin: 20px;
}
.card .card-body .card-title{
    margin-bottom: 20px;
    font-size: 15px; line-height: 23px;
}
.card .card-body .card-text{
    margin-bottom: 20px;
    font-size: 14px; letter-spacing: 0.005em;
    line-height: 23.5px; text-align: justify;    
}
.card .card-body .view-btn{
    display: inline-block;
    line-height: 35px; padding: 0 10px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background: #eeeeee; 
    transition: all 0.4s;
}
.card .card-body .view-btn:hover{
    border: 1px solid #d24400;
    background: #d24400; color:#ffffff;
}
.card .card-body .copy-btn{
    margin-left: 10px;
    transition: all 0.2s;
}
.card .card-body .copy-btn:hover{
    color: #d24400;
}

.r-side{
    position: fixed; right: 0;
    width: 15%; height: 100vh;
    padding: 20px 10px;
    border-left: 1px solid #d24400;
}
.recipes_save_container{
    margin-bottom: 80px;
}
.recipes_save_container h2{
    margin-bottom: 20px;
}
.recipes_save_container input{
    height: 35px;
    border-radius: 3px;
    border: 1px solid #bbbbbb;
}
.recipes_save_container #posting-url{
    margin-top: 7px;
}
.recipes_save_container .save-btn{
    width: 100%; line-height: 35px;
    padding: 0 10px; margin-top: 15px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background: #eeeeee;
    transition: all 0.4s;
}
.recipes_save_container .save-btn:hover{
    border: 1px solid #d24400;
    background-color: #d24400;
    color: #ffffff;
}
.myrecipes_view_container .myrecipe-view-btn{
    width: 100%; line-height: 35px;
    padding: 0 10px; margin-top: 15px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background: #eeeeee;
    transition: all 0.4s;
}
.myrecipes_view_container .myrecipe-view-btn:hover{
    border: 1px solid #d24400;
    background-color: #d24400;  color: #ffffff;
}
.myrecipes_view_container h2{
    margin-bottom: 20px;
}
.myrecipes_view_container input{
    height: 35px;
    border-radius: 3px;
    border: 1px solid #bbbbbb;
}
.myrecipes_view_container .myrecipe-view-btn{
    width: 100%; line-height: 35px;
    padding: 0 10px; margin-top: 15px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background: #eeeeee;
    transition: all 0.4s;
}

footer{
    position: fixed; bottom: 0;
    width: 100%;
    padding: 8px 0;
    background: #d24400;
}
footer .copy{
    text-align: center;;
    color: #ffffff; font-size: 13px;;
}
